@using Library.Data
@model IEnumerable<Library.ViewModels.BookViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="card-deck m-4 jfy-c flex-fill">
    @foreach (var book in Model)
    {
        <div class="card cw-20 mb-3">
            @if (book.Picture != null && book.Picture.Length > 0)
            {
                <img src="data:image;base64,@(Convert.ToBase64String(book.Picture))" class="card-img-top" />
            }
            else
            {
                <img src="img/Book.jpg" class="card-img-top" alt="...">
            }

            <div class="card-body">
                <h5 class="card-title">@book.Name</h5>
                <p class="card-text">@book.Summary</p>
                @foreach (var author in book.Authors)
                {
                    <p class="card-text text-success font-weight-bold">@author.FirstName  @author.LastName </p>
                }
            </div>
            <div class="card-footer">
                <span class="card-text">Rate: @book.Rate</span>
                @if (User.IsInRole(Roles.Admin))
                {
                    <a class="m-2 btn btn-outline-success my-2 my-sm-0 float-right" asp-controller="Books" asp-action="Edit" asp-route-id="@book.Id">Edit</a>
                }
            </div>
        </div>
    }
</div>
